@import "utils/_variables";
@import "utils/mixins";

body {
    margin: 0;
    font-family: $fonttext;
}
header { 
    width: 100%;
    background-color:$primarycolor;
}
.header__logo {
    height: 46px;
    margin: 0 1%;
    width: 26%;
}
.header__h1{
    font-size: large;
    font-family: $font-h1;
    text-align: center;
}
.header__validation {
    @include justify-content-spacearound;
    font-size: 9px;
    line-height: 14px;   
    list-style-type: none;
    margin-left: -10%;  
}
a {
    text-decoration: none;
    color:$secondarycolor;
}
.main_h2, .main__text {
    text-align: center;
    font-size: 14px;
}
.produit {
    @include flexbox-column;
    width: 100%;
}
.imagescamera {
    width: 96%;
    border-radius: 15px 15px 0 0;
    padding:2%;
    margin: auto; 
    height: 26%;
}
figure {
    background-color:$primarycolor;
    border-radius: 15px;
}
h2 {
    margin-left: 3%;
}
.text_produit_p {
    text-align: justify;
}

#prix, button, .text_produit_p, .main__text {
    margin: 3%;
}
footer {
    @include justify-content-spacearound;
    margin-left: 3px;
    background-color: $primarycolor;
}
footer .text {
    text-decoration: none;
    color: $secondarycolor;
    font-family: $fonttext;
    margin: 3%;
}
/*=====media queries min-width:600px page index=======*/
@media screen and (min-width:600px)
{
    .header__logo{
        width: 18%;
    }
    .header__h1 {
        font: xx-large;
    }
    .header__validation{
        font-size: 19px;
    }
}
/*=====media queries min-width:900px page index=======*/
@media screen and (min-width:900px)
{
    header {
        @include justify-content-spacearound;
    }
    .header__logo{
        height: 77px;
        margin-left: -7%;
    }
    .header__h1{
        font-size: xx-large;
    }
    .header__validation {
        @include flexbox-column;
        margin-top: 2%;
        font-size: 19px;
        
    }
    .main_h2{
        font-size: 21px;
    }
    .produit{
       @include flex-row-wrap-wrap;
       justify-content: center;
    }
    figure {
        width: 24%;
    }
}
/*=====media queries min-width:1200px page index=======*/
@media screen and (min-width:1200px)
{
    .header__validation {
        margin-top: 1%;
    }
    .header__h1{
        padding-right: 7%;
    }
    figure {
        width: 13%;
    }
    footer .text{
        font-size: 21px;
    }
}